pymupdf==1.24.10
streamlit==1.38.0
python-pptx==1.0.2
Pillow==10.4.0
requests==2.32.3
frontend==0.0.3
llama-index-core==0.10.58
llama-index-readers-file
llama-index-llms-nvidia
llama-index-embeddings-nvidia
llama-index-vector-stores-milvus
pymilvus==2.4.4
